<launch>
    <arg name="interface" default="keyboard" />

    <param name="interface" type="string" value="$(arg interface)" />

    <group if="$(eval interface == 'joy')">
        <node name="joy_interface" pkg="da_interface" type="joy_interface.py" required="true" />
        <node name="joy_node" pkg="joy" type="joy_node" required="true">
            <param name="dev" type="string" value="/dev/input/js1" />
            <param name="autorepeat_rate" type="double" value="30.0" />
        </node>
    </group>
    <node name="kb_interface" pkg="da_interface" type="keyboard_interface.py" output="screen"
        required="true"
        if="$(eval interface == 'keyboard')" />
    <group if="$(eval interface == 'hat')">
        <node name="hat_interface" pkg="da_interface" type="hat_interface.py" output="screen"
            required="true" />
        <node name="mouse_publisher_node" pkg="hat_pkg" type="mouse_publisher_upgraded.py"
            output="screen" />
        <node name="gui" pkg="hat_pkg" type="gui_upgraded.py" output="screen" />
    </group>
</launch>
