<launch>
    <arg name="interface" default="keyboard" />
    <arg name="lidar" default="false" />

    <param name="/use_real_robot" type="bool" value="true" />

    <node name="teleop_controller" pkg="da_core" type="teleop_controller.py" respawn="true"
        output="screen" />

    <include file="$(find da_interface)/launch/interface.launch">
        <arg name="interface" value="$(arg interface)" />
    </include>

    <node name="stretch_controller" pkg="da_stretch" type="stretch_controller.py"
        output="screen" />

    <include file="$(find da_stretch)/launch/stretch_bringup.launch">
        <arg name="lidar" value="$(arg lidar)" />
    </include>

</launch>
