<launch>
    <arg name="interface" default="keyboard" />
    <arg name="shared" default="false" />

    <node name="teleop_controller" pkg="da_core" type="teleop_controller.py" respawn="true" unless="$(arg shared)"/>
    <node name="shared_controller" pkg="da_core" type="shared_controller.py" respawn="true" if="$(arg shared)"/>
    <group if="$(eval interface == 'joy')">
        <node name="joy_interface" pkg="da_interface" type="joy_interface.py" required="true" />
        <node name="joy_node" pkg="joy" type="joy_node" required="true" />
    </group>
    <node name="kb_interface" pkg="da_interface" type="keyboard_interface.py" output="screen" required="true"
        if="$(eval interface == 'keyboard')" />
    <node name="goal_manager" pkg="da_sim" type="single_goal_manager.py" required="true" />
</launch>
