<launch>
    <node name="shared_controller" pkg="stretch_shared_autonomy" type="shared_controller.py" respawn="true" />
    <node name="joy_interface" pkg="stretch_shared_autonomy" type="joy_interface.py" required="true" />
    <node name="goal_manager" pkg="stretch_shared_autonomy" type="goal_manager.py" />
    <node name="joy_node" pkg="joy" type="joy_node" required="true" />
</launch>
