<launch>
    <node name="shared_controller" pkg="stretch_shared_autonomy" type="shared_controller.py" respawn="true" />
    <node name="kb_interface" pkg="stretch_shared_autonomy" type="keyboard_interface.py" output="screen" required="true" />
    <node name="goal_manager" pkg="stretch_shared_autonomy" type="goal_manager.py" />
</launch>
